@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.navbar_newspage{
    margin-top:40px;
    margin-bottom:40px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}


.proName_newspage{
    margin-left:50px;
    margin-top:20px;
    display:inline;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    font-size:60px;
    font-family: 'Pacifico';
    font-style: normal;
    color: #FE1D1D;
}

.navbar_newspage_header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center
}


.navbar_newspage_item{
    font-size:20px;
    font-family:"Montserrat";
    font-weight:500;
    cursor: pointer;
}


.navbar_newspage_btns{
    margin-right:50px;
    display:flex;
    flex-direction:row;
    gap:30px;
}


.newspage_Progress{
    margin-left:45%;
    margin-top:10%;
}

@media screen and (max-width: 780px){
    .navbar_newspage_btns{
        display:flex;
        flex-direction:column;
        justify-content:center;
        gap:10px;
    }
}

