.profilepage_header{
    display:flex;
    flex-direction:row;    
    align-items:center;    
}


.profilepage_proname{
    margin-left:50px;
    margin-top:20px;
    display:inline;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    font-size:60px;
    font-family: 'Pacifico';
    font-style: normal;
    color: #FE1D1D;
}

.profilepage_feed_btn{
    margin-left:60%;
}