@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Description_box_container{
    display:flex;
    justify-items:center;
    align-items:center;
    flex-direction:column;
}

.Description_box__style{
    width:700px;
    margin:auto;
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    color: #000000;
    font-size:35px;
}

.Description_box__button{    
    height:50px;
    width:330px;
    margin:auto;
    margin-top:40px;
    margin-bottom:4%;
}

@media screen and (max-width: 780px) {
    .Description_box__style{
        width:75%;
        margin:auto;
        font-family: 'Poppins';
        font-style: normal;
        text-align: center;
        color: #000000;
        font-size:20px;
    }
    .Description_box__button{    
        height:50px;
        width:260px;
        margin:auto;
        margin-top:40px;
        margin-bottom:4%;
    }
}



