@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.article_author{
    font-size:large;
    font-family: 'Poppins';
    font-style: normal;
}

.article_content_container{
    display:flex;
    align-items:center;
    justify-content:center;
    width:80%;
    margin:auto;
    flex-direction:column;
}

.article_scraped_data h1,h2,h3,h4,h5,h6{
    font-size:large;
    font-family: 'Poppins';
    font-style: normal;
}

.article_scraped_data p{
    font-size:medium;
    font-family: 'Poppins';
    font-style: normal;
}

.article_scraped_data img{
    width:300px;
    height:300px;
    border-radius:5%;
    margin-left:37%;
}