.button__mstyle{    
    font-family: 'Montserrat';
    padding-left:30px;
    padding-right:30px;
    font-style: normal;
    font-size:25px;
    background: #FFFFFF;
    border: 1.5px solid #BEB5B5;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 8px -2px,
      rgba(0, 0, 0, 0.3) 0px 0px 5px -3px;
    transition:1s;
}

.button_mstyle:hover{
  padding-right:80px;
  transform:scale(1.05);
  font-weight:500;
}


.button_transition_logo{
  width:30;
  height:30px;
  z-index:1;
  position:relative;
  right:60px;
  top:6px;
  opacity:0;
  transition:1s;
}

.button_transition_logo__hover{
  opacity:1;
}
