.footer_container{
    background-color:#ffffff;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    transform:scale(0.80)
}

.footer_icon{    
    width:80px;
    height:60px;
    margin: 30px 20px 30px 20px;
}

.whatsapp{
    width:80px;
    height:60px;
    transition:0.5s
}
.whatsapp:hover{
    transform:scale(1.2);    
}

.telegram{
    width:60px;
    height:50px;
    transition:0.5s
}

.telegram:hover{
    transform:scale(1.2);    
}

.discord{
    width:60px;
    height:50px;
    transition:0.5s
}

.discord:hover{
    transform:scale(1.2);    
}

.twitter{
    width:68px;
    height:58px;
    transition:0.5s
}

.twitter:hover{
    transform:scale(1.2);    
}
