@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


a:visited{
    color:#000000;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

body{
    transform:scale(0.80);
    position:relative;
    bottom:35px;
    background-color:#ECECEC;
}

#login-Container{ 
    margin-top:10px;   
    margin-left:auto;
    margin-right:auto;
    background-color:#ECECEC;
    width:500px;    
}


#pro-Name{   
    font-family: 'Pacifico';
    font-style: normal; 
    font-size:48px;
    color: #FE1D1D;
    text-align:center;
    margin-top:10px;
    margin-bottom:20px;
}

.Login-heading{
    text-align:center;
    font-family: 'Poppins';
    font-style: normal;
    font-size:40px;
    margin-bottom:10px;
    margin-top:5px;
}

#LoginBox{
    margin:auto;
    box-sizing: border-box;
    width: 400px;
    height: 570px;
    border: 3px solid #000000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 15px -2px,
      rgba(0, 0, 0, 0.3) 0px 0px 8px -3px;
    border-radius: 15px;
    background-color:#FFFFFF;
}

#Login-Form{
    margin-top:8%;
    margin-left:20%;
}

::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-size:14px;
    opacity:0.8;
    text-align:center;
}

.label-form-item{
    font-family: 'Poppins';
    font-style: normal;
    font-size:14px;
}

.input-form-item{
    text-align:center;
    font-family: 'Poppins';
    font-style: normal;
    font-size:14px;
    margin-left:4%;
    margin-bottom:1%;
    margin-right:4%;
    margin-top:5%;
    height:22px;
    border:none;
}

.icon{
    position:relative;
    top:2px;
    height:14px;
    width:15px;
}

#forget-passcode{
    display:block;
    text-align:right;
    margin-right:20%;
    margin-bottom:10%;
}

.login-page-button{
    position:relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-size:25px;
    display:block;
    height:45px;
    width:50%;
    margin:auto;
    margin-top:4%;
    margin-bottom:4%;
    background: #FFFFFF;
    border: 1.5px solid #BEB5B5;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 8px -2px,
      rgba(0, 0, 0, 0.3) 0px 0px 5px -3px;
    z-index:+5;
    transition:0.3s;
}

.login-page-button:hover{    
    transform:scale(1.05);
    font-weight:600;
}

.signup-using{
    font-family: 'Poppins';
    font-style: normal;
    font-size:16px;
    text-align:center;
    padding-top:5%;
}


#sign-up-icons{    
    display:block;
    margin:auto;
    text-align:center;    
}


.s-icons{
    height:32px;
    width:32px;
    margin:10px 8px 10px 8px;
    position:relative;
    z-index:+5;
    opacity:0.8;
    transition:0.3s;
    filter: grayscale(100%);
    background-color:#F7F5EB;
}

.s-icons:hover{
    transform:scale(1.05);
    opacity:1;
    filter: grayscale(0%);
}

.line-btw-items{
    margin-bottom:7%;
    width:70%;
    border:1px solid #000000;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#signup-div{
    margin-top:25px;
}

#no-acc{
    text-align:center;
    font-family: 'Poppins';
    font-style: normal;
    font-size:16px;
    margin-left: 25%;    
    display:inline;
    
}
#signup-page{
    text-align:center;
    font-family: 'Poppins';
    font-style: normal;
    font-size:18px;
    display:inline;
    text-decoration: underline;
}

#signup-page:hover{
    color:blue;
}